*{
  font-family: system-ui;
  color: #333;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.contanier{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px whitesmoke solid;
}
.btns a{
  padding: 9px;
  text-decoration: none;
  font-size: 16px;
}
.btns a:hover {
  color: #f1356d;
}
.h1{
  color: #f1356d;
  text-align: center;
}
.blog-con{
  padding: 10px 16px;
  margin: 20px 210px;
  border-bottom: 1px solid #fafafa;
}
.blog-con2 label, .btn{
  display: block;
}
label{
  padding: 5px 0;
}
input, textarea, select{
  width: 100%;
}
textarea{
  padding: 20px 0;
}
.btn{
  background: #f1356d;
  border: 0;
  border-radius: 7px;
  padding: 10px;
  margin-top: 9px;
  margin-left: 200px;
  color: #fafafa;
  cursor: pointer;
}
.blog-con2{
  padding: 10px 16px;
  margin: 20px 350px;
  border-bottom: 1px solid #fafafa;
}
.blog-con:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.h2{
  color: #f1356d;
  font-size: 30px;
  margin-bottom: 8px;
}
.blog-p{
  padding: 5px 0;
  font-size: large;
}
.title{
  color: #333;
  font-size: 20px;
  padding: 10px 16px;
  margin: 20px 210px;
}
.Blog-details{
  margin: 10px 235px;
}
.blog-new-ti{
  font-size: large;
  opacity: 0.7;
}
.decoration{
  padding: 5px 0;
  font-size: large;
  text-decoration: underline;
}